*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
}
html{
  font-size:62.5%;


}
body{
  padding:3rem;
  box-sizing: border-box;

  @media (max-width: 900px){
    padding: 0;
  }
  @media (max-width: 600px) {

    padding: 0!important;
  }
}
