.section-cookies{
  background: #fff;
  padding: 20rem 0;
  @media (max-width: 600px) {
    padding: 5rem 0;
  }
}
.cookies-row{
  margin-bottom: 10rem;
  @media (max-width: 600px) {
    margin-bottom: 5rem ;
  }
}
